.dashboard-card-heder{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 17px;
    color: var(--black-color);
    margin-bottom: 15px;
}
.dashboard-tabs .nav-pills{
margin-bottom: 0px;
}
.dashboard-tabs {
    background-color: #F0F0FF;
    border-radius: 5px;
}
.dashboard-tabs .nav-pills .nav-link {
    color: var(--black-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    background-color: transparent !important;
}
.dashboard-tabs .nav-pills .nav-link.active {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    background-color: var(--black-color) !important;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-buttons button {
  background: #FAFAFF;
  border: none;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  color:#556476;
}
.nav-buttons button:hover {
  background: #4A58EC;
  color:#fff;
}
.calendar-weekdays,
.calendar-days {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.calendar-weekdays div,
.calendar-days div {
  text-align: center;
  width: 35px;
  cursor: pointer;
  font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    color: #556476;
}

.calendar-days div {
  background: #f2f4f8;
  border-radius: 50%;
  padding: 8px 0;
  cursor: pointer;
  font-family: var(--font-family);
font-weight: 700;
font-size: 10px;
color: #556476;
}

.calendar-days .active {
  background: #4f5dff;
  color: white;
  font-weight: bold;
}

.events-section {
  margin-top: 20px;
}

.events-section h4 {
 font-family: var(--font-family);
font-weight: 600;
font-size: 9px;
color: var(--black-color);
}

.event-list {
  list-style: none;
  padding-left: 0;
}

.event-list li {
   font-family: var(--font-family);
font-weight: 600;
font-size: 9px;
color: var(--black-color);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.red {
  background: red;
}

.green {
  background: green;
}
.bordered-table{
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden; 
  width: 100%;
  border: 1px solid #ddd;
}
.bordered-table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.bordered-table tbody tr:last-child {
  border-bottom: none;
}
.main-content{
    width: 100%;

}
.dashbaord-piechart-container{
    max-width: 400px;
}
.dashbaord-piechart-container .pie-chart-inner{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 135px;
    left: 115px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.dashbaord-piechart-container .pepeline-count{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: var(--black-color);

}
.dashbaord-piechart-container .pepeline-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    text-align: center;
    color: #556476;

}
.dashboard-top-col{
    width: 20%;
}
body{
  /* overflow: hidden; */
}
.page-content{
    /* height: 100vh;
    overflow: auto;
    margin-bottom: 50px; */
}
@media (max-width: 600px) {
  .dashbaord-piechart-container{
    max-width: 300px;
    }
    .dashbaord-piechart-container .pie-chart-inner {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 110px;
    left: 100px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
.dashboard-top-col{
    width: 100%;
}
}
